USE [AgroSintez]
GO
/****** Object:  Table [dbo].[batch_steps]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[tech_card_step_id] [int] NOT NULL,
	[equipment_id] [int] NULL,
	[step_number] [int] NOT NULL,
	[step_name] [varchar](255) NOT NULL,
	[planned_temperature] [int] NULL,
	[actual_temperature] [int] NULL,
	[planned_duration_min] [int] NULL,
	[actual_duration_min] [int] NULL,
	[planned_pressure] [decimal](5, 2) NULL,
	[actual_pressure] [decimal](5, 2) NULL,
	[has_deviation] [int] NULL,
	[deviation_description] [varchar](500) NULL,
	[operator_comment] [varchar](500) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[equipment_type] [varchar](50) NULL,
	[line_number] [int] NULL,
	[status] [varchar](50) NULL,
	[last_calibration_date] [date] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formula_components]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formula_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[percentage] [decimal](5, 2) NOT NULL,
	[loading_order] [int] NOT NULL,
	[deviation_tolerance] [decimal](5, 2) NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](50) NULL,
	[title] [varchar](255) NOT NULL,
	[message] [varchar](500) NULL,
	[is_read] [int] NULL,
	[entity_type] [varchar](50) NULL,
	[entity_id] [int] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_batches]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [varchar](50) NULL,
	[actual_quantity_kg] [int] NULL,
	[operator_id] [int] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](50) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[planned_quantity_kg] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[planned_start_date] [date] NULL,
	[created_by_id] [int] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[product_type] [varchar](50) NULL,
	[release_form] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_control]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_control](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[raw_material_batch_id] [int] NULL,
	[lab_technician_id] [int] NOT NULL,
	[analysis_date] [datetime] NULL,
	[sample_type] [varchar](50) NULL,
	[parameter_name] [varchar](255) NOT NULL,
	[measured_value] [decimal](10, 2) NULL,
	[standard_value] [varchar](100) NULL,
	[unit_of_measure] [varchar](20) NULL,
	[result] [varchar](10) NULL,
	[decision] [varchar](50) NULL,
	[lab_comment] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_material_batches]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_material_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[quantity] [decimal](12, 3) NOT NULL,
	[unit_of_measure] [varchar](20) NOT NULL,
	[receipt_date] [date] NOT NULL,
	[supplier] [varchar](255) NULL,
	[lab_status] [varchar](50) NULL,
	[used_in_production_batch_id] [int] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[category] [varchar](50) NULL,
	[unit_of_measure] [varchar](20) NOT NULL,
	[hazard_class] [int] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[creation_date] [datetime] NULL,
	[created_by_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_card_steps]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_card_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[equipment_id] [int] NULL,
	[step_number] [int] NOT NULL,
	[step_name] [varchar](255) NOT NULL,
	[step_type] [varchar](50) NULL,
	[planned_temp_min] [int] NULL,
	[planned_temp_max] [int] NULL,
	[planned_duration_min] [int] NOT NULL,
	[planned_pressure_min] [decimal](5, 2) NULL,
	[planned_pressure_max] [decimal](5, 2) NULL,
	[is_mandatory] [int] NULL,
	[instruction] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[technological_cards]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[technological_cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[approved_by_id] [int] NULL,
	[approval_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07.05.2026 17:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](100) NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[department] [varchar](255) NULL,
	[is_active] [int] NULL,
	[created_date] [datetime] NULL,
	[password_hash] [nvarchar](256) NULL,
	[password_salt] [varchar](128) NULL,
	[password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[batch_steps] ON 

INSERT [dbo].[batch_steps] ([id], [batch_id], [tech_card_step_id], [equipment_id], [step_number], [step_name], [planned_temperature], [actual_temperature], [planned_duration_min], [actual_duration_min], [planned_pressure], [actual_pressure], [has_deviation], [deviation_description], [operator_comment], [start_time], [end_time]) VALUES (1, 1, 1, 2, 1, N'Mixing', 45, 44, 30, 32, CAST(1.50 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), 0, NULL, N'OK', NULL, NULL)
INSERT [dbo].[batch_steps] ([id], [batch_id], [tech_card_step_id], [equipment_id], [step_number], [step_name], [planned_temperature], [actual_temperature], [planned_duration_min], [actual_duration_min], [planned_pressure], [actual_pressure], [has_deviation], [deviation_description], [operator_comment], [start_time], [end_time]) VALUES (2, 1, 2, NULL, 2, N'Holding', 60, 59, 120, 118, CAST(2.00 AS Decimal(5, 2)), CAST(1.90 AS Decimal(5, 2)), 0, NULL, N'Minor deviation', NULL, NULL)
INSERT [dbo].[batch_steps] ([id], [batch_id], [tech_card_step_id], [equipment_id], [step_number], [step_name], [planned_temperature], [actual_temperature], [planned_duration_min], [actual_duration_min], [planned_pressure], [actual_pressure], [has_deviation], [deviation_description], [operator_comment], [start_time], [end_time]) VALUES (3, 1, 3, 1, 3, N'Extrusion', 80, 78, 45, 47, CAST(3.00 AS Decimal(5, 2)), CAST(2.80 AS Decimal(5, 2)), 1, N'Temperature below standard by 1.8°C', N'Temperature below standard', NULL, NULL)
SET IDENTITY_INSERT [dbo].[batch_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[equipment] ON 

INSERT [dbo].[equipment] ([id], [code], [name], [equipment_type], [line_number], [status], [last_calibration_date], [created_date]) VALUES (1, N'EQ-001', N'EK-45 Extruder', N'extruder', 1, N'operational', CAST(N'2025-02-15' AS Date), CAST(N'2026-05-06T10:20:51.400' AS DateTime))
INSERT [dbo].[equipment] ([id], [code], [name], [equipment_type], [line_number], [status], [last_calibration_date], [created_date]) VALUES (2, N'EQ-002', N'CM-2000 Mixer', N'mixer', 1, N'operational', CAST(N'2025-02-10' AS Date), CAST(N'2026-05-06T10:20:51.400' AS DateTime))
INSERT [dbo].[equipment] ([id], [code], [name], [equipment_type], [line_number], [status], [last_calibration_date], [created_date]) VALUES (3, N'EQ-003', N'DN-500 Dispenser', N'doser', 1, N'operational', CAST(N'2025-02-20' AS Date), CAST(N'2026-05-06T10:20:51.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[formula_components] ON 

INSERT [dbo].[formula_components] ([id], [recipe_id], [raw_material_id], [percentage], [loading_order], [deviation_tolerance], [created_date]) VALUES (1, 1, 1, CAST(60.00 AS Decimal(5, 2)), 1, CAST(0.50 AS Decimal(5, 2)), CAST(N'2026-05-06T10:20:51.407' AS DateTime))
INSERT [dbo].[formula_components] ([id], [recipe_id], [raw_material_id], [percentage], [loading_order], [deviation_tolerance], [created_date]) VALUES (2, 1, 3, CAST(30.00 AS Decimal(5, 2)), 2, CAST(0.50 AS Decimal(5, 2)), CAST(N'2026-05-06T10:20:51.407' AS DateTime))
INSERT [dbo].[formula_components] ([id], [recipe_id], [raw_material_id], [percentage], [loading_order], [deviation_tolerance], [created_date]) VALUES (3, 1, 4, CAST(10.00 AS Decimal(5, 2)), 3, CAST(0.50 AS Decimal(5, 2)), CAST(N'2026-05-06T10:20:51.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[formula_components] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [type], [title], [message], [is_read], [entity_type], [entity_id], [created_date]) VALUES (1, 1, N'batch_start', N'Batch B-2402-01 started', N'Batch of Herbicide Tornado has been started', 0, N'batch', 3, CAST(N'2026-05-06T10:20:51.453' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [type], [title], [message], [is_read], [entity_type], [entity_id], [created_date]) VALUES (2, 1, N'deviation', N'Temperature deviation on extruder', N'Actual temperature 78.2°C vs standard 80°C', 0, N'batch_step', 3, CAST(N'2026-05-06T10:20:51.453' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [type], [title], [message], [is_read], [entity_type], [entity_id], [created_date]) VALUES (3, 1, N'lab_decision', N'Batch B-2401-02 rejected', N'Low concentration of active substance', 0, N'batch', 2, CAST(N'2026-05-06T10:20:51.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[production_batches] ON 

INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg], [operator_id], [created_date]) VALUES (1, N'B-2401-01', 1, CAST(N'2025-03-01T08:00:00.000' AS DateTime), CAST(N'2025-03-01T14:30:00.000' AS DateTime), N'completed', 998, 3, CAST(N'2026-05-06T10:20:51.427' AS DateTime))
INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg], [operator_id], [created_date]) VALUES (2, N'B-2401-02', 1, CAST(N'2025-03-02T08:15:00.000' AS DateTime), CAST(N'2025-03-02T15:00:00.000' AS DateTime), N'completed', 1002, 3, CAST(N'2026-05-06T10:20:51.427' AS DateTime))
INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg], [operator_id], [created_date]) VALUES (3, N'B-2402-01', 2, CAST(N'2025-03-03T09:00:00.000' AS DateTime), NULL, N'in_progress', 250, 3, CAST(N'2026-05-06T10:20:51.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[production_batches] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [tech_card_id], [planned_quantity_kg], [status], [planned_start_date], [created_by_id], [created_date]) VALUES (1, N'PO-2401', 2, 1, 1000, N'completed', CAST(N'2025-03-01' AS Date), 1, CAST(N'2026-05-06T10:20:51.423' AS DateTime))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [tech_card_id], [planned_quantity_kg], [status], [planned_start_date], [created_by_id], [created_date]) VALUES (2, N'PO-2402', 3, 2, 500, N'in_progress', CAST(N'2025-03-03' AS Date), 1, CAST(N'2026-05-06T10:20:51.423' AS DateTime))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [tech_card_id], [planned_quantity_kg], [status], [planned_start_date], [created_by_id], [created_date]) VALUES (3, N'PO-2403', 6, 4, 2000, N'planned', CAST(N'2025-03-10' AS Date), 1, CAST(N'2026-05-06T10:20:51.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [code], [name], [product_type], [release_form], [status], [created_date]) VALUES (1, N'PR-001', N'Herbicide "Tornado"', N'herbicide', N'liquid', N'active', CAST(N'2026-05-06T10:20:51.387' AS DateTime))
INSERT [dbo].[products] ([id], [code], [name], [product_type], [release_form], [status], [created_date]) VALUES (2, N'PR-002', N'Insecticide "Batrider"', N'insecticide', N'granules', N'active', CAST(N'2026-05-06T10:20:51.387' AS DateTime))
INSERT [dbo].[products] ([id], [code], [name], [product_type], [release_form], [status], [created_date]) VALUES (3, N'PR-003', N'Fungicide "AgroFort"', N'fungicide', N'powder', N'active', CAST(N'2026-05-06T10:20:51.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[quality_control] ON 

INSERT [dbo].[quality_control] ([id], [batch_id], [raw_material_batch_id], [lab_technician_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit_of_measure], [result], [decision], [lab_comment]) VALUES (1, 4, NULL, 5, CAST(N'2026-05-07T16:35:20.733' AS DateTime), N'finished_product', N'Активное вещество, %', CAST(98.50 AS Decimal(10, 2)), N'95-100', N'%', N'pass', N'approved', N'Соответствует норме')
INSERT [dbo].[quality_control] ([id], [batch_id], [raw_material_batch_id], [lab_technician_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit_of_measure], [result], [decision], [lab_comment]) VALUES (2, NULL, 1, 5, CAST(N'2026-05-07T16:36:58.660' AS DateTime), N'raw_material', N'Чистота, %', CAST(99.20 AS Decimal(10, 2)), N'>98', N'%', N'pass', N'approved', N'Качество соответствует')
SET IDENTITY_INSERT [dbo].[quality_control] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_material_batches] ON 

INSERT [dbo].[raw_material_batches] ([id], [batch_number], [raw_material_id], [quantity], [unit_of_measure], [receipt_date], [supplier], [lab_status], [used_in_production_batch_id], [created_date]) VALUES (1, N'RM-2025-001', 1, CAST(5000.000 AS Decimal(12, 3)), N'kg', CAST(N'2025-02-25' AS Date), N'AgroChem Trade', N'approved', 1, CAST(N'2026-05-06T10:20:51.433' AS DateTime))
INSERT [dbo].[raw_material_batches] ([id], [batch_number], [raw_material_id], [quantity], [unit_of_measure], [receipt_date], [supplier], [lab_status], [used_in_production_batch_id], [created_date]) VALUES (2, N'RM-2025-002', 1, CAST(3000.000 AS Decimal(12, 3)), N'kg', CAST(N'2025-02-28' AS Date), N'AgroChem Trade', N'approved', 2, CAST(N'2026-05-06T10:20:51.433' AS DateTime))
INSERT [dbo].[raw_material_batches] ([id], [batch_number], [raw_material_id], [quantity], [unit_of_measure], [receipt_date], [supplier], [lab_status], [used_in_production_batch_id], [created_date]) VALUES (3, N'RM-2025-003', 2, CAST(2000.000 AS Decimal(12, 3)), N'kg', CAST(N'2025-02-26' AS Date), N'Syngenta', N'approved', 3, CAST(N'2026-05-06T10:20:51.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[raw_material_batches] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_materials] ON 

INSERT [dbo].[raw_materials] ([id], [code], [name], [category], [unit_of_measure], [hazard_class], [created_date]) VALUES (1, N'RM-001', N'Glyphosate (AI)', N'active_ingredient', N'kg', 3, CAST(N'2026-05-06T10:20:51.393' AS DateTime))
INSERT [dbo].[raw_materials] ([id], [code], [name], [category], [unit_of_measure], [hazard_class], [created_date]) VALUES (2, N'RM-002', N'Imazapyr (AI)', N'active_ingredient', N'kg', 2, CAST(N'2026-05-06T10:20:51.393' AS DateTime))
INSERT [dbo].[raw_materials] ([id], [code], [name], [category], [unit_of_measure], [hazard_class], [created_date]) VALUES (3, N'RM-003', N'Distilled water', N'solvent', N'l', 4, CAST(N'2026-05-06T10:20:51.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[raw_materials] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([id], [product_id], [name], [version], [status], [creation_date], [created_by_id]) VALUES (1, 1, N'Herbicide Tornado', 1, N'active', CAST(N'2025-01-10T09:00:00.000' AS DateTime), 1)
INSERT [dbo].[recipes] ([id], [product_id], [name], [version], [status], [creation_date], [created_by_id]) VALUES (2, 1, N'Herbicide Tornado', 2, N'active', CAST(N'2025-01-18T11:15:00.000' AS DateTime), 1)
INSERT [dbo].[recipes] ([id], [product_id], [name], [version], [status], [creation_date], [created_by_id]) VALUES (3, 2, N'Insecticide Batrider', 1, N'active', CAST(N'2025-01-12T10:30:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_card_steps] ON 

INSERT [dbo].[tech_card_steps] ([id], [tech_card_id], [equipment_id], [step_number], [step_name], [step_type], [planned_temp_min], [planned_temp_max], [planned_duration_min], [planned_pressure_min], [planned_pressure_max], [is_mandatory], [instruction]) VALUES (1, 1, 2, 1, N'Mixing', N'mixing', 40, 50, 30, CAST(1.00 AS Decimal(5, 2)), CAST(2.00 AS Decimal(5, 2)), 1, N'Load components, mix')
INSERT [dbo].[tech_card_steps] ([id], [tech_card_id], [equipment_id], [step_number], [step_name], [step_type], [planned_temp_min], [planned_temp_max], [planned_duration_min], [planned_pressure_min], [planned_pressure_max], [is_mandatory], [instruction]) VALUES (2, 1, NULL, 2, N'Holding', N'holding', 55, 65, 120, CAST(1.50 AS Decimal(5, 2)), CAST(2.50 AS Decimal(5, 2)), 1, N'Hold at specified temperature')
INSERT [dbo].[tech_card_steps] ([id], [tech_card_id], [equipment_id], [step_number], [step_name], [step_type], [planned_temp_min], [planned_temp_max], [planned_duration_min], [planned_pressure_min], [planned_pressure_max], [is_mandatory], [instruction]) VALUES (3, 1, 1, 3, N'Extrusion', N'extrusion', 75, 85, 45, CAST(2.50 AS Decimal(5, 2)), CAST(3.50 AS Decimal(5, 2)), 1, N'Feed mixture to extruder')
SET IDENTITY_INSERT [dbo].[tech_card_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[technological_cards] ON 

INSERT [dbo].[technological_cards] ([id], [product_id], [version], [status], [approved_by_id], [approval_date], [created_date]) VALUES (1, 1, 1, N'approved', 1, CAST(N'2025-02-01T10:00:00.000' AS DateTime), CAST(N'2026-05-06T10:20:51.410' AS DateTime))
INSERT [dbo].[technological_cards] ([id], [product_id], [version], [status], [approved_by_id], [approval_date], [created_date]) VALUES (2, 2, 1, N'approved', 1, CAST(N'2025-02-05T11:00:00.000' AS DateTime), CAST(N'2026-05-06T10:20:51.410' AS DateTime))
INSERT [dbo].[technological_cards] ([id], [product_id], [version], [status], [approved_by_id], [approval_date], [created_date]) VALUES (3, 3, 1, N'draft', NULL, NULL, CAST(N'2026-05-06T10:20:51.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[technological_cards] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [login], [full_name], [role], [department], [is_active], [created_date], [password_hash], [password_salt], [password]) VALUES (1, N'tech.ivanov', N'Ivanov Ivan Petrovich', N'technologist', N'Technology Department', 1, CAST(N'2026-05-06T10:20:51.380' AS DateTime), N'4eG6xG8s4HkZ9qL1wX5nP3mR7tY2uI8o=', NULL, N'password123')
INSERT [dbo].[users] ([id], [login], [full_name], [role], [department], [is_active], [created_date], [password_hash], [password_salt], [password]) VALUES (2, N'tech.petrova', N'Petrova Maria Sergeevna', N'technologist', N'Technology Department', 1, CAST(N'2026-05-06T10:20:51.380' AS DateTime), N'4eG6xG8s4HkZ9qL1wX5nP3mR7tY2uI8o=', NULL, N'password123')
INSERT [dbo].[users] ([id], [login], [full_name], [role], [department], [is_active], [created_date], [password_hash], [password_salt], [password]) VALUES (3, N'operator.zavodov', N'Zavodov Sergey Nikolaevich', N'operator', N'Workshop No.1', 1, CAST(N'2026-05-06T10:20:51.380' AS DateTime), N'4eG6xG8s4HkZ9qL1wX5nP3mR7tY2uI8o=', NULL, N'password123')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__equipmen__357D4CF9DDF816B2]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[equipment] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__equipmen__357D4CF9E62B66E1]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[equipment] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__56E378370B3B22F6]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[production_batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__56E37837414C27E4]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[production_batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DF5E68E777]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DF88CB43A5]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__357D4CF90B9DEC57]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__357D4CF90C2DA218]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__56E378377DA66A9D]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[raw_material_batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__56E37837F0D06CF9]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[raw_material_batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__357D4CF93BB70A7C]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[raw_materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__357D4CF9B82417DF]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[raw_materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F272966AE967]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F272B9315074]    Script Date: 07.05.2026 17:03:01 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[batch_steps] ADD  DEFAULT ((0)) FOR [has_deviation]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ('operational') FOR [status]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[formula_components] ADD  DEFAULT ((0.5)) FOR [deviation_tolerance]
GO
ALTER TABLE [dbo].[formula_components] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT ((0)) FOR [actual_quantity_kg]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[raw_material_batches] ADD  DEFAULT ('pending') FOR [lab_status]
GO
ALTER TABLE [dbo].[raw_material_batches] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[raw_materials] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[tech_card_steps] ADD  DEFAULT ((1)) FOR [is_mandatory]
GO
ALTER TABLE [dbo].[technological_cards] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[technological_cards] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD  CONSTRAINT [FK_batch_steps_batch] FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[batch_steps] CHECK CONSTRAINT [FK_batch_steps_batch]
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD  CONSTRAINT [FK_batch_steps_equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[batch_steps] CHECK CONSTRAINT [FK_batch_steps_equipment]
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD  CONSTRAINT [FK_batch_steps_tech_card_step] FOREIGN KEY([tech_card_step_id])
REFERENCES [dbo].[tech_card_steps] ([id])
GO
ALTER TABLE [dbo].[batch_steps] CHECK CONSTRAINT [FK_batch_steps_tech_card_step]
GO
ALTER TABLE [dbo].[formula_components]  WITH CHECK ADD  CONSTRAINT [FK_formula_components_raw_material] FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[formula_components] CHECK CONSTRAINT [FK_formula_components_raw_material]
GO
ALTER TABLE [dbo].[formula_components]  WITH CHECK ADD  CONSTRAINT [FK_formula_components_recipe] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[formula_components] CHECK CONSTRAINT [FK_formula_components_recipe]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_user]
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD  CONSTRAINT [FK_batches_operator] FOREIGN KEY([operator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_batches] CHECK CONSTRAINT [FK_batches_operator]
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD  CONSTRAINT [FK_batches_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[production_batches] CHECK CONSTRAINT [FK_batches_order]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_created_by] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_orders_created_by]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_recipe] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_orders_recipe]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_tech_card] FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[technological_cards] ([id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_orders_tech_card]
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD  CONSTRAINT [FK_quality_control_batch] FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[quality_control] CHECK CONSTRAINT [FK_quality_control_batch]
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD  CONSTRAINT [FK_quality_control_lab_technician] FOREIGN KEY([lab_technician_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_control] CHECK CONSTRAINT [FK_quality_control_lab_technician]
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD  CONSTRAINT [FK_quality_control_raw_material_batch] FOREIGN KEY([raw_material_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[quality_control] CHECK CONSTRAINT [FK_quality_control_raw_material_batch]
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD  CONSTRAINT [FK_raw_material_batches_raw_material] FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches] CHECK CONSTRAINT [FK_raw_material_batches_raw_material]
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD  CONSTRAINT [FK_raw_material_batches_used_in] FOREIGN KEY([used_in_production_batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches] CHECK CONSTRAINT [FK_raw_material_batches_used_in]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_created_by] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_created_by]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_product]
GO
ALTER TABLE [dbo].[tech_card_steps]  WITH CHECK ADD  CONSTRAINT [FK_tech_card_steps_card] FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[technological_cards] ([id])
GO
ALTER TABLE [dbo].[tech_card_steps] CHECK CONSTRAINT [FK_tech_card_steps_card]
GO
ALTER TABLE [dbo].[tech_card_steps]  WITH CHECK ADD  CONSTRAINT [FK_tech_card_steps_equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[tech_card_steps] CHECK CONSTRAINT [FK_tech_card_steps_equipment]
GO
ALTER TABLE [dbo].[technological_cards]  WITH CHECK ADD  CONSTRAINT [FK_tech_cards_approved_by] FOREIGN KEY([approved_by_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[technological_cards] CHECK CONSTRAINT [FK_tech_cards_approved_by]
GO
ALTER TABLE [dbo].[technological_cards]  WITH CHECK ADD  CONSTRAINT [FK_tech_cards_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[technological_cards] CHECK CONSTRAINT [FK_tech_cards_product]
GO
